<%= render 'shared/header' %>

<div class="text-center text-dark followers-followings-title-margin" style="font-size: 1.6rem;">
  フォロー中 <%= @users.count %>人
</div>

<%= render 'shared/followers_followings' %>
