<div class="text-white p-5" style="background-color:#332f28;">
  <h1 class="display-5">ユーザー一覧</h1>
</div>

<div class="container">
  <div class="card-deck py-5">
    <% @users.each do |user| %>
      <div class="card">
        <%= attachment_image_tag user, :profile_image, fallback: "no-image.png" %>
        <div class="card-body">
          <h4 class="card-title">
            <%= user.username %>
          </h4>
          <h6 class="card-title">
            投稿数：
          </h6>
        </div>
      </div>
    <% end %>
  </div>
</div>
