<%= bootstrap_devise_error_messages! %>

<div class="container-login">
  <div class="card shadow-lg my-5 p-5">
    <h2 class="display-5 mb-5 text-center">
      パスワードを忘れた場合
    </h2>

    <p class="mb-5 text-secondary" style="line-height: 28px;">
      ご登録いただいたメールアドレスを入力してください。
      メールアドレス宛に、パスワード変更ページのURLが記載されたメールを送信します。
    </p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="form-group mb-5">
        <%= f.email_field :email,
                          autofocus: true,
                          autocomplete: "email",
                          class: "form-control form-control-lg",
                          required: true,
                          maxlength: '100',
                          placeholder: "メールアドレス" %>
      </div>

      <div class="actions">
        <%= f.submit '送信', class:"btn btn-warning btn-block btn-lg" %>
      </div>
    <% end %>
  </div>
</div>
