<%= bootstrap_devise_error_messages! %>

<div class="container-login">
  <div class="card border-0 shadow-lg my-5 p-5">
    <h1 class="text-center text-dark mb-5">
      パスワードを忘れた場合
    </h1>

    <div class="text-center mb-5" style="line-height: 26px;">
      ご登録頂いたメールアドレスを入力してください。<br>
      パスワード変更ページのURLを送信します。
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="form-group mb-5">
        <%= f.email_field :email,
                          autofocus: true,
                          autocomplete: "email",
                          class: "form-control text-dark",
                          style: "font-size: 1.4rem;",
                          required: true,
                          maxlength: '100',
                          placeholder: "メールアドレス" %>
      </div>

      <div class="actions">
        <%= f.submit '送信', class:"btn btn-warning btn-block" %>
      </div>
    <% end %>
  </div>
</div>
