<% if hoge.errors.any? %>
  <div class="alert alert-danger pt-4 rounded-0" role="alert">
    <h2><%= pluralize(hoge.errors.count, "error", locale: :en) %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% hoge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
