<% if flash[:notice] %>
  <div class="alert alert-primary pt-4 rounded-0" role="alert">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger pt-4 rounded-0" role="alert">
    <p class="alert"><%= alert %></p>
  </div>
<% end %>
