<footer class="bg-footer">
  <div class="link3" style="margin-bottom: 4.5rem;">
    <div class="link3-mb-4">
      <%= link_to page_path('terms'), class:"link-title" do %>
        利用規約
      <% end %>
    </div>
    <div class="link3-mb-4">
      <%= link_to page_path('privacy'), class:"link-title" do %>
        プライバシーポリシー
      <% end %>
    </div>
    <div class="link3-mb-4">
      <%= link_to page_path('inquiry'), class:"link-title" do %>
        お問い合わせ
      <% end %>
    </div>
  </div>
  <div class="text-center" style="font-size: 1.2rem;">
    © 2022 料理のてつじ
  </div>
</footer>
