<div class="navbar shadow-sm fixed" style="background-color:#fcefca;">
  <%= link_to root_path, class:"link-title" do %>
    <h2 class="mt-1 mr-2 py-4" style="font-family: 'Kiwi Maru', serif;">レシピ館</h2>
  <% end %>

  <div class="openbtn1">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <nav id="g-nav">
    <div id="g-nav-list">
      <ul>
        <li><a href="#">icon username email</a></li>
        <li><a href="#">レシピ一覧</a></li>
        <li><a href="#">ユーザー一覧</a></li>
        <li><a href="#">マイページ</a></li>
        <li><a href="#">新規投稿</a></li>
        <li><a href="#">ログアウト</a></li>
      </ul>
    </div>
  </nav>
</div>
