<%= link_to root_path do %>
  <div class="d-flex align-items-center justify-content-center mb-5">
    <div style="margin-right: 2.25rem;">
      <%= image_tag 'symbol-mark.png', size: '51x51' %>
    </div>
    <div class="text-dark" style="font-size: 3rem; font-family: 'New Tegomin', serif;">
      料理のてつじ
    </div>
  </div>
<% end %>
