<%= link_to root_path do %>
  <div class="d-flex align-items-center justify-content-center mb-5">
    <div class="mr-4">
      <%= image_tag 'symbol-mark.png', size: '51x51' %>
    </div>
    <div class="text-dark" style="font-size: 3rem; font-family: 'Kiwi Maru', serif;">
      料理のあぷり
    </div>
  </div>
<% end %>
