<%= render 'shared/flash_messages' %>

<div class="py-5">
  <div class="text-center">
    <h2 class="mb-5 text-dark" style="font-family: 'Kiwi Maru', serif;">
      レシピ館
    </h2>

    <h4 class="mb-5">
      レシピを投稿しよう
    </h4>

    <% if user_signed_in? %>
    <% else %>
      <%= link_to new_user_registration_path do %>
        <button type="button" class="btn btn-warning text-white font-weight-bold" style="width: 200px;">今すぐはじめる</button>
      <% end %>
    <% end %>
  </div>
</div>

<footer class="d-flex align-items-center justify-content-center header64">
  © 2022 レシピ館
</footer>
