<%= render 'shared/flash_messages' %>

<div class="bg-light py-5">
  <div class="text-center">
    <h2 class="mb-5" style="font-family: 'Kiwi Maru', serif; color: #332f28;">
      レシピ館
    </h2>

    <h4 class="mb-5 text-secondary" style="font-family: cursive;">
      レシピを投稿しよう
    </h4>

    <% if user_signed_in? %>
    <% else %>
      <%= link_to new_user_registration_path do %>
        <button type="button" class="btn btn-warning btn-lg py-3" style="width: 200px">今すぐはじめる</button>
      <% end %>
    <% end %>
  </div>
</div>

<footer class="text-center py-2 text-secondary" style="background-color:#fcefca;">
  <p class="pt-3" style="font-size: 14px;">© 2021 レシピ館</p>
</footer>
