<%= render 'shared/flash_messages' %>

<div class="bg-light py-5">
  <div class="text-center">
    <h2 class="mb-5 text-dark" style="font-family: 'Kiwi Maru', serif;">
      レシピ館
    </h2>

    <h4 class="mb-5">
      レシピを投稿しよう
    </h4>

    <% if user_signed_in? %>
    <% else %>
      <%= link_to new_user_registration_path do %>
        <button type="button" class="btn btn-warning btn-lg py-3" style="width: 200px">今すぐはじめる</button>
      <% end %>
    <% end %>
  </div>
</div>

<footer class="text-center py-4" style="background-color:#fcefca; height: 64.5px">
  © 2021 レシピ館
</footer>
