<div class="container mt-5">
  <div class="text-center">
    <h1 style="font-family: cursive;">portfolio</h1>
    <br>
    <%= link_to new_user_session_path do %>
      <button type="button" class="btn btn-warning btn-lg btn-block">ログイン</button>
    <% end %>
    <br>
    <%= link_to new_user_registration_path do %>
      <button type="button" class="btn btn-warning btn-lg btn-block">新規登録</button>
    <% end %>
    <br>
    <div class="main-image"></div>
  </div>
</div>
