<%= render 'shared/header' %>

<div class="container-inquiry">
  <div class="yohaku-inquiry">
  </div>

  <div class="card border-0 text-center text-dark">
    <div style="font-size: 2.4rem; margin: 3rem 0 4.5rem;">
      <strong>お問い合わせ</strong>
    </div>
    <div style="margin-bottom: 2rem;">
      ●●●●●●をご利用頂きありがとうございます。
    </div>
    <div style="margin-bottom: 4.5rem;">
      本サービス内におきまして、ご意見・ご要望・バグ等ございましたら、下記TwitterアカウントのDMにてご報告頂けると助かります。
    </div>
    <%= link_to new_user_registration_path do %>
      <button type="button" class="btn btn-color01 mb-5" style="width: 200px;">@●●●●●●</button>
    <% end %>
  </div>

  <div class="yohaku-inquiry">
  </div>
</div>

<%= render 'shared/footer' %>
