<%= render 'shared/header' %>

<div class="container-terms-privacy">
  <div class="yohaku-terms-privacy">
  </div>





  <div class="card border-0 text-left text-dark">
    <div class="text-center" style="font-size: 2.4rem; margin: 3rem 0 4.5rem;">
      <strong>プライバシーポリシー</strong>
    </div>
    <div style="margin-bottom: 1rem;">
      本ウェブサイトの管理者（以下，「管理者」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。
    </div>

    <div style="font-size: 1.8rem; margin: 3.5rem 0 2rem;">
      <strong>第1条（個人情報）</strong>
    </div>


    <div style="font-size: 1.8rem; margin: 3.5rem 0 2rem;">
      <strong>第2条（個人情報の収集方法）</strong>
    </div>


    <div style="font-size: 1.8rem; margin: 3.5rem 0 2rem;">
      <strong>第3条（個人情報を収集・利用する目的）</strong>
    </div>


    <div style="font-size: 1.8rem; margin: 3.5rem 0 2rem;">
      <strong>第4条（利用目的の変更）</strong>
    </div>


    <div style="font-size: 1.8rem; margin: 3.5rem 0 2rem;">
      <strong>第5条（個人情報の第三者提供）</strong>
    </div>


    <div style="font-size: 1.8rem; margin: 3.5rem 0 2rem;">
      <strong>第6条（個人情報の開示）</strong>
    </div>


    <div style="font-size: 1.8rem; margin: 3.5rem 0 2rem;">
      <strong>第7条（個人情報の訂正および削除）</strong>
    </div>


    <div style="font-size: 1.8rem; margin: 3.5rem 0 2rem;">
      <strong>第8条（個人情報の利用停止等）</strong>
    </div>


    <div style="font-size: 1.8rem; margin: 3.5rem 0 2rem;">
      <strong>第9条（プライバシーポリシーの変更）</strong>
    </div>


    <div style="font-size: 1.8rem; margin: 3.5rem 0 2rem;">
      <strong>第10条（お問い合わせ窓口）</strong>
    </div>





  </div>





  <div class="yohaku-terms-privacy">
  </div>
</div>

<%= render 'shared/footer' %>
