<%= render 'shared/header' %>

<div class="container-inquiry">
  <div class="yohaku-inquiry">
  </div>

  <div class="card border-0 text-center text-dark">
    <div style="font-size: 2.4rem; margin: 3rem 0 4.5rem;">
      <strong>お問い合わせ</strong>
    </div>
    <div style="margin-bottom: 3rem;">
      <div class="bun-br">
        料理のてつじをご利用頂き<br>
        ありがとうございます。
      </div>
      <div class="bun">
        料理のてつじをご利用頂きありがとうございます。
      </div>
    </div>
    <div style="margin-bottom: 4.5rem;">
      <div class="bun-br">
        本サービス内におきまして、ご意見・<br>
        ご要望・バグ等ございましたら、<br>
        下記TwitterアカウントのDMにて<br>
        ご報告頂けると助かります。
      </div>
      <div class="bun">
        本サービス内におきまして、ご意見・ご要望・バグ等ございましたら、下記TwitterアカウントのDMにてご報告頂けると助かります。
      </div>
    </div>
    <%= link_to 'https://twitter.com/ryourinotetsuji' do %>
      <button type="button" class="btn btn-color01 mb-5" style="width: 200px;">@ryourinotetsuji</button>
    <% end %>
  </div>

  <div class="yohaku-inquiry">
  </div>
</div>

<%= render 'shared/footer' %>
