<%= render 'shared/header' %>

<div class="container-terms-privacy">
  <div class="yohaku-terms-privacy">
  </div>





  <div class="card border-0 text-left text-dark">
    <div class="text-center" style="font-size: 2.4rem; margin: 3rem 0 4.5rem;">
      <strong>プライバシーポリシー</strong>
    </div>
    <div style="margin-bottom: 1rem;">
      本ウェブサイトの管理者（以下，「管理者」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。
    </div>
  </div>





  <div class="yohaku-terms-privacy">
  </div>
</div>

<%= render 'shared/footer' %>
