<%= render 'shared/header' %>





<div class="container-edit-profile">
  <div class="yohaku-edit-profile">
  </div>

  <div class="card border-0 p-5 text-center">
    <div class="mb-5" style="font-size: 2.2rem;">
      <strong>プロフィールを変更</strong>
    </div>
  </div>

  <div class="yohaku-edit-profile">
  </div>
</div>





<%= render 'shared/footer' %>
