<%= render 'shared/header' %>





<div class="container-terms-privacy">
  <div class="yohaku-terms-privacy">
  </div>

  <div class="card border-0 p-5 text-center">
    <div class="mb-5" style="font-size: 2.2rem;">
      <strong>利用規約</strong>
    </div>
  </div>

  <div class="yohaku-terms-privacy">
  </div>
</div>





<%= render 'shared/footer' %>
