<%= render 'shared/header' %>





<div class="container-terms-privacy">
  <div class="yohaku-terms-privacy">
  </div>

  <div class="card border-0 p-5 text-left text-dark">
    <div class="text-center" style="font-size: 2.4rem; margin: 3rem 0 4.5rem;">
      <strong>利用規約</strong>
    </div>
    <div>
      この利用規約（以下，「本規約」といいます。）は，本ウェブサイトの管理者（以下，「管理者」といいます。）が本ウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。
    </div>

    <div style="font-size: 1.8rem; margin: 4rem 0 2rem;">
      <strong>第1条（適用）</strong>
    </div>
    <ol>
      <li>
        本規約は，ユーザーと管理者との間の本サービスの利用に関わる一切の関係に適用されるものとします。
      </li>
      <li>
        管理者は本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
      </li>
      <li>
        本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
      </li>
    </ol>

    <div style="font-size: 1.8rem; margin: 4rem 0 2rem;">
      <strong>第2条（利用登録）</strong>
    </div>




















  </div>

  <div class="yohaku-terms-privacy">
  </div>
</div>





<%= render 'shared/footer' %>
