/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

/*------------------------------------
- A
------------------------------------*/
// A PART2 32:40
.alert {                             /* 独自に変更 */
  padding: 0 4rem 0 1.5rem;          /* 独自に追加 */
  margin-bottom: 0;
  border-radius: 0;                  /* 独自に追加 */
  height: 6.4rem;                    /* 独自に追加 */
  display:table;                     /* 独自に追加 */
  width: 100%;                       /* 独自に追加 */
  font-size: 1.2rem;                 /* 独自に追加 */
}

/*------------------------------------
- B
------------------------------------*/
// B [1/4] 8:50                      /* 参照㋐ */

// B [1/4] 8:50
.alert-notice {
  color: #ffffff;                  /* 独自に変更 */
  background-color: #343a40;       /* 独自に変更 */
  border-color: #343a40;           /* 独自に変更 */
}

// B [1/4] 8:50
.alert-alert {
  color: #ffffff;                  /* 独自に変更 */
  background-color: #800019;       /* 独自に変更 */
  border-color: #800019;           /* 独自に変更 */
  font-weight: 700;                  /* 独自に追加 */
}

/*------------------------------------
- フラッシュメッセージ
------------------------------------*/
// フラッシュメッセージの文字を上下中央
.alert-message-center {
  display:table-cell;
  vertical-align:middle;
}

// ✕のデフォルトのスタイルを一部上書き
.alert-dismissible .close {
  padding: 0 1.5rem;
}

// ✕のデフォルトのスタイルを一部上書き
.close {
  font-size: 1.2rem;
  line-height: 6.4rem;
  text-shadow: none;
}

// ✕ボタンクリック時の縁を非表示
button:focus {
  outline: none;
}

// 複数 alert がある場合、最後の alert 以外に適用
.alert-alert:not(:last-child) {
  border-bottom: 0.1rem solid #770019;
}

/*------------------------------------
- 共通
------------------------------------*/
// 画像の縦横比を維持したまま、縦横のうち小さい方を基準に拡大・縮小され、中央の位置でトリミング
img {
  object-fit: cover;
}

// ブラウザのデフォルトのルート font-size （ 通常は16px ） を変更
html {
  font-size: 62.5%;
}

// body をヘッダー分下げる
body {
  position: relative;
  top: 6.4rem;
  color: #6c757d;
  font-size: 1.4rem;
  height: calc(100vh - 6.4rem);      /* 100vh から、下にスクロールできてしまうヘッダー分の 6.4rem を引く */
  background-color: #f8f9fa;
}

// 全てのリンクの下線を外す
a:link {
  text-decoration: none;
}

.link {
  color: #6c757d;
}

.link:hover {
  color: #6c757d;
}

.link-title {
  color: #343a40;
}

.link-title:hover {
  color: #343a40;
}

.btn {
  color: #343a40;
  font-size: 1.4rem;
  height: 4.8rem;
}

/*------------------------------------
- フッター
------------------------------------*/
.bg-footer {
  background-color:#ffffff;
  padding: 4.5rem 0;
}

.link3 {
  text-align: center;
}

@media (min-width: 768px) {
  .link3 {
    text-align: initial;
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin: 0 auto;
  }
}

.link3-mb-4 {
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .link3-mb-4 {
    margin-bottom: 0;
  }
}

/*------------------------------------
- ヘッダー
------------------------------------*/
.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.header64 {
  background-color:#ffffff;
  height: 6.4rem;
}

.tablet-pc-link {
  display: none;
}

@media (min-width: 768px) {
  .tablet-pc-link {
    display: block;
  }
}

.btn-header {
  background-color: #ffffff;
  border-color: #ffffff;
  padding: 0 1.5rem;
  height: 4rem;
}

.btn-header:hover {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

// ボタンクリック時の縁を非表示
.btn-header:focus, .btn-header.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.user-icon32 {
  width: 3.2rem;
  height: 3.2rem;
}

// ドロップダウンリストの幅
.dropdown-menu {
  width: 21rem;
  font-size: 1.4rem;
}

// ヘッダーのみ text-ellipsis1 だとうまくいかない為
.ryaku {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*========== ナビゲーションのためのCSS ==========*/
// ハンバーガー内の画面の背景
#g-nav {
  position: fixed;
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh;
  background: rgba(250, 250, 250, 0.95);        /* 独自に変更 */
  transition: all 0.6s;
}

@media (min-width: 768px) {
  #g-nav {
    display: none;
  }
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive {
  right: 0;
}

// ナビゲーションの縦スクロール
#g-nav.panelactive #g-nav-list{
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

// .dropdown-item と同じホバー色
#g-nav .text-secondary:hover {
  background-color: #f8f9fa;                    /* 独自に追加 */
}

/*---------- if user_signed_in? ----------*/
.container-g-nav1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
}

@media (min-width: 375px) and (orientation: portrait) {
  .container-g-nav1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 65%;
  }
}

.yohaku-g-nav1 {
  height: 6.4rem;                                          /* 余白を作る為だけのクラス */
}

@media (min-width: 375px) and (orientation: portrait) {
  // 375 x 667 の場合、hontai1 上下の yohaku-g-nav1 が画面に納まらず中途半端に上下スクロールできてしまう為、none を設定
  .yohaku-g-nav1 {
    display: none;
  }
}

.hontai1 {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;    /* shadow-lg を設定 */
  background-color: #ffffff;
}

/*---------- else ----------*/
.container-g-nav2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
}

@media (orientation: portrait) {
  .container-g-nav2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 65%;
  }
}

.yohaku-g-nav2 {
  height: 6.4rem;                                          /* 余白を作る為だけのクラス */
}

.hontai2 {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;    /* shadow-lg を設定 */
  background-color: #ffffff;
}

/*========== ボタンのためのCSS ==========*/
.openbtn1 {
  position: fixed;
  z-index: 2;                             /* 独自に変更 */
  top: 0.7rem;                            /* 独自に変更 */
  right: 0.15rem;                         /* 独自に変更 */
  cursor: pointer;
  width: 50px;
  height: 50px;
}

@media (min-width: 768px) {
  .openbtn1 {
    display: none;
  }
}

/*×に変化*/
.openbtn1 span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #6c757d;            /* 独自に変更 */
  width: 45%;
}

.openbtn1 span:nth-of-type(1) {
  top: 15px;
}

.openbtn1 span:nth-of-type(2) {
  top: 23px;
}

.openbtn1 span:nth-of-type(3) {
  top: 31px;
}

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

/*------------------------------------
- フォロー中画面、フォロワー画面、ユーザー一覧画面
------------------------------------*/
.wrapper {
  display: flex;
}

.kotei48 {
  width: 4.8rem;
}

@media (min-width: 480px) {
  .kotei48 {
    width: 9.6rem;
  }
}

.user-icon48 {
  width: 4.8rem;
  height: 4.8rem;
}

@media (min-width: 480px) {
  .user-icon48 {
    width: 9.6rem;
    height: 9.6rem;
  }
}

.kahen {
  flex: 1;
}

.text-ellipsis1 {
  display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 1;
 overflow: hidden;
}

.text-ellipsis2 {
  display: none;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 2;
 overflow: hidden;
}

@media (min-width: 480px) {
  .text-ellipsis2 {
    display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   overflow: hidden;
  }
}

.kotei101 {
  width: 10.1rem;
}

.btn101 {
  width: 10.1rem;
  padding: 0;
}

/*========== フォロー中ボタン ==========*/
// 通常時
.btn-follow {
  color: #6c757d;                      /* btn-outline-secondary を設定 */
  border-color: #6c757d;               /* btn-outline-secondary を設定 */
}

.btn-follow > .kaijo {
  display: none;
}

// ホバー時
.btn-follow:hover {
  color: rgb(244, 33, 46);                     /* Twitter と同色を設定 */
  background-color: rgba(244, 33, 46, 0.1);    /* Twitter と同色を設定 */
  border-color: rgb(255, 221, 237);            /* Twitter と同色を設定 */
}

.btn-follow:hover > .chu {
  display: none;
}

.btn-follow:hover > .kaijo {
  display: inline;
}

// ボタンクリック時の縁を非表示
.btn-follow:focus, .btn-follow.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

/*------------------------------------
- マイページ
------------------------------------*/
.user-icon87 {
  width: 8.7rem;
  height: 8.7rem;
}

@media (min-width: 480px) {
  .user-icon87 {
    width: 15rem;
    height: 15rem;
  }
}

.count-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

/*------------------------------------
- レシピ詳細画面
------------------------------------*/
.kotei40 {
  width: 4rem;
}

.kotei40 > .dropdown:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

.fa-trash-alt {
  font-size: 1.6rem;
  margin-right: 0.2rem;
}

.user-icon40 {
  width: 4rem;
  height: 4rem;
}

/*------------------------------------
- レシピ一覧画面
------------------------------------*/
.heart-pink {
  color: rgb(237, 73, 86);
}

.heart-hover-color:hover {
  color: #cccccc;
}

// ツールチップのデザインを設定
.tooltip .tooltip-inner {
  color: #ffffff;                          /* 独自に変更 */
  background-color: rgba(0, 0, 0, 0.6);    /* 独自に変更 */
  font-size: 1.1rem;                         /* 独自に追加 */
  padding: 0.3rem 0.9rem;                    /* 独自に追加 */
  position: relative;                        /* 独自に追加 ( ツールチップ をヘッダー分上げる為 ) */
  top: -6.4rem;                              /* 独自に追加 ( ツールチップ をヘッダー分上げる為 ) */
}

// ツールチップの三角部分を削除する設定
.tooltip-auto[x-placement^=bottom] .arrow::before,
.tooltip .arrow::before {
  bottom: 0;
  border-width: 0 !important;
  border-bottom-color: #fff !important;
}

/*------------------------------------
- ページネーション
------------------------------------*/
.pagination>li>a {
  color: #6c757d;
  border: none;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  margin: 0 5px;
  background: none;
}

.pagination>li>a:hover {
  color: #6c757d;
}

.page-item.disabled .page-link {
  background: none;
}

.page-item.active .page-link {
  z-index: 0;
  color: #fff;
  background-color: #800019;
  border-color: #800019;
  width: 30px;
  height: 30px;
  text-align: center;
}

.page-item:first-child .page-link {
  border-radius: 50%;
  margin: 0 5px;
}

.page-item:last-child .page-link {
  border-radius: 50%;
}

// ボタンクリック時の縁を非表示
.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0);
}

/*------------------------------------
- 新規登録、ログイン、パスワードを忘れた場合、パスワードの再設定
------------------------------------*/
.form-group {
  position: relative;
}

.form-control::placeholder {
  color: #cccccc;
  font-size: 1.4rem;
  line-height: 4.8rem;
  position: absolute;
  top: 0;
}

input[type="text"] {
  height: 4.8rem;
}

input[type="email"] {
  height: 4.8rem;
}

input[type="password"] {
  height: 4.8rem;
}

// フォームクリック時の色を上書き
.form-control:focus {
  border-color: #8e8e8e;
  box-shadow: none;
}

.alert-login4 {
  position: relative;
  top: -6.4rem;
  z-index: 1;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.4)!important;    /* shadow-sm と同じ見え方を設定 */
}

// B [1/4] 8:50                      /* 参照㋐ */
.container-login4 {                  /* 独自に変更 */
  @extend .container-fluid;
  max-width: 48rem;                  /* 独自に変更 */
  padding: 0;                        /* 独自に変更 */
  position: relative;                /* 独自に追加 ( card をヘッダー分上げる ) */
  top: -6.4rem;                      /* 独自に追加 ( card をヘッダー分上げる ) */
  background-color: #ffffff;       /* 独自に追加 ( XR の画面の card と body の background-color との境目を無くす為、card と同色を設定 ) */
  height: 100vh;                     /* 独自に追加 ( 上記 background-color を画面全体に表示 ) */
}

// ( 余白 card 余白セット )
@media (min-width: 480px) and (orientation: landscape) {
  .container-login4 {
    background: none;                                        /* background そのものを none にし、body の background-color を表示させる */
  }

  .yohaku-login4 {
    height: 6.4rem;                                          /* 余白を作る為だけのクラス */
  }

  .container-login4 > .card {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;    /* shadow-lg を設定 */
  }
}

// ( 上下中央セット )
@media (min-width: 480px) and (orientation: portrait) {
  .container-login4 {
    background: none;                                        /* background そのものを none にし、body の background-color を表示させる */
  }

  .container-login4 > .card {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;    /* shadow-lg を設定 */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48rem;
  }
}

// ( 上下中央セット )
@media (min-width: 1024px) and (orientation: landscape) {
  .yohaku-login4 {
    display: none;
  }

  .container-login4 > .card {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48rem;
  }
}

/*------------------------------------
- 新規投稿、レシピ編集
------------------------------------*/
// エラーが発生した際、railsは自動で、エラーメッセージを含むフィールドをfield_with_errorsクラスを持つdivタグで囲んでくれる
.field_with_errors {
  display: contents;                                          /* このスタイルが適用されたタグは、存在しない扱いになる */
}

/*========== attachment_field ==========*/
// 通常時のデフォルトのスタイルを一部上書き
input[type="file" i]::-webkit-file-upload-button {
  font-weight: 700;                                           /* 独自に追加 */
  height: 4.8rem;                                             /* 独自に追加 */
  border-radius: 0.25rem;                                     /* 独自に追加 */
  margin-inline-end: 1rem;
  background-color: rgb(216, 216, 217);                     /* 数量ボタンと同色を設定 */
  color: #343a40;
  padding: 1rem;
  border-width: 0.1rem;
  border-style: solid;
  border-color: rgb(216, 216, 217);                         /* 数量ボタンと同色を設定 */
}

// ホバー時
input[type="file" i]::-webkit-file-upload-button:hover {
  background-color: rgb(196, 196, 198);                     /* 数量ボタンと同色を設定 */
  border-color: rgb(196, 196, 198);                         /* 数量ボタンと同色を設定 */
  cursor: pointer;
}
/*======================================*/

.alert-recipe2 {
  position: relative;
  top: 0;
  z-index: 1;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.4)!important;    /* shadow-sm と同じ見え方を設定 */
}

.container-recipe2 {
  @extend .container-fluid;
  max-width: 60rem;
  padding: 0;
  position: relative;                /* 独自に追加 ( card をヘッダー分上げない ) */
  top: 0;                            /* 独自に追加 ( card をヘッダー分上げない ) */
  background-color: #ffffff;       /* 独自に追加 ( XR の画面の card と body の background-color との境目を無くす為、card と同色を設定 ) */
  height: calc(100vh - 6.4rem);      /* 100vh から、下にスクロールできてしまうヘッダー分の 6.4rem を引く */
}

// ( 余白 card 余白セット )
@media (min-width: 600px) and (orientation: landscape) {
  .container-recipe2 {
    background: none;                                        /* background そのものを none にし、body の background-color を表示させる */
  }

  .yohaku-recipe2 {
    height: 6.4rem;                                          /* 余白を作る為だけのクラス */
  }

  .container-recipe2 > .card {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;    /* shadow-lg を設定 */
  }
}

// ( 上下中央セット )
@media (min-width: 600px) and (orientation: portrait) {
  .container-recipe2 {
    background: none;                                        /* background そのものを none にし、body の background-color を表示させる */
  }

  .container-recipe2 > .card {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;    /* shadow-lg を設定 */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60rem;
  }
}

// ( 上下中央セット )
@media (min-width: 1024px) and (orientation: landscape) {
  .yohaku-recipe2 {
    display: none;
  }

  .container-recipe2 > .card {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60rem;
  }
}

/*------------------------------------
- プロフィールを変更
------------------------------------*/
// dropdown-item active のbg
.dropdown-item.active {
  background-color: #f8f9fa;
}

// dropdown-item クリック時のbg
.dropdown-item:active {
  background-color: #f8f9fa;
}

.container-edit-profile {
  @extend .container-fluid;
  max-width: 60rem;
  padding: 0;
}

// ( 余白 card 余白セット )
@media (min-width: 600px) {
  .yohaku-edit-profile {
    height: 6.4rem;                                          /* 余白を作る為だけのクラス */
  }

  .container-edit-profile > .card {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;    /* shadow-lg を設定 */
  }
}

/*------------------------------------
- パスワードを変更
------------------------------------*/
.container-edit-password {
  @extend .container-fluid;
  max-width: 48rem;
  padding: 0;
  background-color: #ffffff;       /* 独自に追加 ( XR の画面の card と body の background-color との境目を無くす為、card と同色を設定 ) */
  height: calc(100vh - 6.4rem);      /* 100vh から、下にスクロールできてしまうヘッダー分の 6.4rem を引く */
}

// ( 余白 card 余白セット )
@media (min-width: 480px) {
  .container-edit-password {
    background: none;                                        /* background そのものを none にし、body の background-color を表示させる */
  }

  .yohaku-edit-password {
    height: 6.4rem;                                          /* 余白を作る為だけのクラス */
  }

  .container-edit-password > .card {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;    /* shadow-lg を設定 */
  }
}

/*------------------------------------
- 利用規約、プライバシーポリシー
------------------------------------*/
.container-terms-privacy ol {
  margin-bottom: 0;
}

.container-terms-privacy li {
  margin-bottom: 1rem;
}

.container-terms-privacy {
  @extend .container-fluid;
  max-width: 96rem;
  padding: 0;
}

.container-terms-privacy > .card {
  padding: 3rem;
  background-color: #f8f9fa;
}

// ( 余白 card 余白セット )
@media (min-width: 768px) {
  .container-terms-privacy {
    padding: 0 6.4rem;
  }

  .yohaku-terms-privacy {
    height: 6.4rem;                                          /* 余白を作る為だけのクラス */
  }

  .container-terms-privacy > .card {
    padding: 3rem 6rem;
    background-color: #ffffff;
  }
}

/*------------------------------------
- お問い合わせ
------------------------------------*/
.container-inquiry {
  padding: 0;
}

.container-inquiry > .card {
  padding: 3rem;
  background-color: #f8f9fa;
}

@media (min-width: 375px) and (min-height: 668px) {
  .container-inquiry {
    position: relative;                /* 独自に追加 ( card をヘッダー分上げない ) */
    top: 0;                            /* 独自に追加 ( card をヘッダー分上げない ) */
    background-color: #f8f9fa;
    height: calc(100vh - 31rem);       /* 100vh から、下にスクロールできてしまうヘッダー分の 6.4rem + フッター分の 24.6rem の計 31rem を引く */
  }

  .container-inquiry > .card {
    // position: absolute;             /* 本来必要な設定だが、なぜか card の width が崩れるので設定しない
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-width: 64rem;
  }
}

@media (min-width: 768px) and (min-height: 668px) {
  .container-inquiry {
    height: calc(100vh - 23.8rem);     /* 100vh から、下にスクロールできてしまうヘッダー分の 6.4rem + フッター分の 17.4rem の計 23.8rem を引く */
  }

  .container-inquiry > .card {
    padding: 3rem 6rem;
    background-color: #ffffff;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .container-inquiry {
    padding: 0 6.4rem;
  }

  .yohaku-inquiry {
    height: 6.4rem;                                          /* 余白を作る為だけのクラス */
  }

  .container-inquiry > .card {
    padding: 3rem 6rem;
    background-color: #ffffff;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .container-inquiry {
    padding: 0;
    position: relative;                /* 独自に追加 ( card をヘッダー分上げない ) */
    top: 0;                            /* 独自に追加 ( card をヘッダー分上げない ) */
    background-color: #f8f9fa;
    height: calc(100vh - 23.8rem);     /* 100vh から、下にスクロールできてしまうヘッダー分の 6.4rem + フッター分の 17.4rem の計 23.8rem を引く */
  }

  .yohaku-inquiry {
    display: none;
  }

  .container-inquiry > .card {
    padding: 3rem 6rem;
    background-color: #ffffff;
    // position: absolute;             /* 本来必要な設定だが、なぜか card の width が崩れるので設定しない
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-width: 64rem;
  }
}

/*------------------------------------
- 検索フォーム
------------------------------------*/
.search_wap {
  position: relative;
}

.search_wap .search_input {
  border: none;
  border-radius: 0.25rem;
  background: #efefef;
  height: 37px;
  width: 100%;
  padding: 10px 20px;
  margin: 13px 0 0;
}

.search_wap .search_button {
  background-color: tomato;    /* 後で変更 ( transparent; に戻す ) */
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 13px;
  height: 37px;
  width: 40px;
  border-style: none;
  border-radius: 0px 4px 4px 0px;
  padding: 0px;
}

.search_wap .fa-search {
  position: absolute;
  right: 14px;
  top: 13px;
  font-size: 13px;
  font-weight: 900;
  color: #999999;
  background-color: green;    /* 後で変更 ( 削除 ) */
}










// #4dffffffffffffffff0f を rgb(77, 0, 15) に修正
// font-weight: 700;                /* 独自に追加 */
/*------------------------------------
- COLOR color01
------------------------------------*/
.alert-color01 {
  color: #050001;
  background-color: #ff4d6f;
  border-color: #ff385f;
}

.alert-color01 hr {
  border-top-color: #ff1f4a;
}

.alert-color01 .alert-link {
  color: #000000;
}

.badge-color01 {
  color: #fff;
  background-color: #800019;
}

.badge-color01[href]:hover, .badge-color01[href]:focus {
  color: #fff;
  background-color: rgb(77, 0, 15);
}

.bg-color01 {
  background-color: #800019 !important;
}

a.bg-color01:hover, a.bg-color01:focus,
button.bg-color01:hover,
button.bg-color01:focus {
  background-color: rgb(77, 0, 15) !important;
}

.border-color01 {
  border-color: #800019 !important;
}

.btn-color01 {
  color: #fff;
  background-color: #800019;
  border-color: #800019;
  font-weight: 700;                /* 独自に追加 */
}

.btn-color01:hover {
  color: #fff;
  background-color: #5c0012;
  border-color: rgb(77, 0, 15);
}

.btn-color01:focus, .btn-color01.focus {
  box-shadow: 0 0 0 0.2rem rgba(128, 0, 25, 0.5);
}

.btn-color01.disabled, .btn-color01:disabled {
  color: #fff;
  background-color: #800019;
  border-color: #800019;
}

.btn-color01:not(:disabled):not(.disabled):active, .btn-color01:not(:disabled):not(.disabled).active, .show > .btn-color01.dropdown-toggle {
  color: #fff;
  background-color: rgb(77, 0, 15);
  border-color: #3d000c;
}

.btn-color01:not(:disabled):not(.disabled):active:focus, .btn-color01:not(:disabled):not(.disabled).active:focus, .show > .btn-color01.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(128, 0, 25, 0.5);
}

.btn-outline-color01 {
  color: #800019;
  background-color: transparent;
  border-color: #800019;
}

.btn-outline-color01:hover {
  color: #fff;
  background-color: #800019;
  border-color: #800019;
}

.btn-outline-color01:focus, .btn-outline-color01.focus {
  box-shadow: 0 0 0 0.2rem rgba(128, 0, 25, 0.5);
}

.btn-outline-color01.disabled, .btn-outline-color01:disabled {
  color: #800019;
  background-color: transparent;
}

.btn-outline-color01:not(:disabled):not(.disabled):active, .btn-outline-color01:not(:disabled):not(.disabled).active, .show > .btn-outline-color01.dropdown-toggle {
  color: #fff;
  background-color: #800019;
  border-color: #800019;
}

.btn-outline-color01:not(:disabled):not(.disabled):active:focus, .btn-outline-color01:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-color01.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(128, 0, 25, 0.5);
}

.list-group-item-color01 {
  color: #050001;
  background-color: #ff385f;
}

.list-group-item-color01.list-group-item-action:hover, .list-group-item-color01.list-group-item-action:focus {
  color: #050001;
  background-color: #ff1f4a;
}

.list-group-item-color01.list-group-item-action.active {
  color: #fff;
  background-color: #050001;
  border-color: #050001;
}

.table-color01,
.table-color01 > th,
.table-color01 > td {
  background-color: #ff385f;
}

.table-hover .table-color01:hover {
  background-color: #ff1f4a;
}

.table-hover .table-color01:hover > td,
.table-hover .table-color01:hover > th {
  background-color: #ff1f4a;
}

.text-color01 {
  color: #800019 !important;
}

a.text-color01:hover, a.text-color01:focus {
  color: rgb(77, 0, 15) !important;
}
