/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.alert:not(:last-child){
	margin-bottom: 0;
}

img {
  object-fit: cover;
}

.main-image {
	height: 940px;
	background-image: url(kari.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.alert-notice {
  @extend .alert-primary;
}

.alert-alert {
  @extend .alert-danger;
}

.link {
  color: #332f28;
}

.link:hover {
  color: #332f28;
}
