/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

/*------------------------------------
- モバイルファースト (全環境に共通のデザイン)
------------------------------------*/

/*
- A
------------------------------------*/
// A PART2 32:40 フラッシュメッセージの下の余白を消す
.alert:not(:last-child){
	margin-bottom: 0;
}

/*
- B
------------------------------------*/
// B [1/4] 8:50
.container-login4 {            /* 独自に変更 */
  @extend .container-fluid;
  max-width: 48rem;            /* 独自に変更 */
  padding: 0;                  /* 独自に変更 */
  position: relative;          /* 独自に追加 ( card をヘッダー分上げる ) */
  top: -6.4rem;                /* 独自に追加 ( card をヘッダー分上げる ) */
}

// B [1/4] 8:50
.alert-notice {
  @extend .alert-info;
}

// B [1/4] 8:50
.alert-alert {
  @extend .alert-danger;
}

/*
- 共通
------------------------------------*/
// 画像の縦横比を維持したまま、縦横のうち小さい方を基準に拡大・縮小され、中央の位置でトリミング
img {
  object-fit: cover;
}

// ブラウザのデフォルトのルート font-size （ 通常は16px ） を変更
html {
  font-size: 62.5%;
}

// body をヘッダー分下げる
body {
  position: relative;
  top: 6.4rem;
  color: #6c757d;
  font-size: 1.4rem;
  height: calc(100vh - 6.4rem);    /* 100vh から、下にスクロールできてしまうヘッダー分の 6.4rem を引く */
}

// 全てのリンクの下線を外す
a:link {
  text-decoration: none;
}

.link {
  color: #6c757d;
}

.link:hover {
  color: #6c757d;
}

.link-title {
  color: #343a40;
}

.link-title:hover {
  color: #343a40;
}

.btn {
  color: #343a40;
  font-size: 1.4rem;
  height: 4.8rem;
}

/*
- ヘッダー
------------------------------------*/
.tablet-pc-link {
  display: none;
}

.btn-beige {
  background-color: #fcefca;
  border-color: #fcefca;
}

.btn-beige:hover {
  background-color: #fae4a8;
  border-color: #fae4a8;
}

// ボタンクリック時の縁を非表示
.btn-beige:focus, .btn-beige.focus {
  box-shadow: 0 0 0 0.2rem rgba(252, 239, 202, 0.5);
}

.user-icon32 {
  width: 3.2rem;
  height: 3.2rem;
}

// ドロップダウンリストの幅
.dropdown-menu {
  width: 21rem;
  font-size: 1.4rem;
}

// ヘッダーのみ text-ellipsis1 だとうまくいかない為
.ryaku {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*========= ナビゲーションのためのCSS ===============*/
// ハンバーガー内の画面の背景 ( ※z-index: 999; のみ削除 )
#g-nav {
  position: fixed;
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh;
  background: rgba(250, 250, 250, 0.95);                   /* 独自に変更 */
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive {
  right: 0;
}





// ナビゲーションの縦スクロール ( ※z-index: 999; のみ削除 )
#g-nav.panelactive #g-nav-list{
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}






.container-g-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
}

.yohaku-g-nav {
  height: 6.4rem;                                          /* 余白を作る為だけのクラス */
}

.hontai {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;      /* shadow-lg を設定 */
  background-color: #ffffff;
}






/* .dropdown-item と同じホバー色 */
#g-nav .text-secondary:hover {
  background-color: #f8f9fa;                               /* 独自に追加 */
}

/*========= ボタンのためのCSS ===============*/
.openbtn1 {
  position: fixed;
  z-index: 9999;/*ボタンを最前面に*/
  top: 0.7rem;                                               /* 独自に変更 */
  right: 0.15rem;                                            /* 独自に変更 */
  cursor: pointer;
  width: 50px;
  height: 50px;
}

/*×に変化*/
.openbtn1 span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #6c757d;                               /* 独自に変更 */
  width: 45%;
}

.openbtn1 span:nth-of-type(1) {
  top: 15px;
}

.openbtn1 span:nth-of-type(2) {
  top: 23px;
}

.openbtn1 span:nth-of-type(3) {
  top: 31px;
}

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

/*
- フォロー中画面、フォロワー画面、ユーザー一覧画面
------------------------------------*/
.wrapper {
  display: flex;
}

.kotei48 {
  width: 4.8rem;
}

.user-icon48 {
  width: 4.8rem;
  height: 4.8rem;
}

.kahen {
  flex: 1;
}

.text-ellipsis1 {
  display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 1;
 overflow: hidden;
}

.text-ellipsis2 {
  display: none;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 2;
 overflow: hidden;
}

.kotei101 {
  width: 10.1rem;
}

/*
- マイページ
------------------------------------*/
.user-icon87 {
  width: 8.7rem;
  height: 8.7rem;
}

.count-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

/*
- レシピ詳細画面
------------------------------------*/
.kotei40 {
  width: 4rem;
}

.kotei40 > .dropdown:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

.fa-trash-alt {
  font-size: 1.6rem;
  margin-right: 0.2rem;
}

.user-icon40 {
  width: 4rem;
  height: 4rem;
}

/*
- レシピ一覧画面
------------------------------------*/
.heart-pink {
  color: rgb(237, 73, 86);
}

.heart-hover-color:hover {
  color: #cccccc;
}

// ツールチップのデザインを設定
.tooltip .tooltip-inner {
  color: #ffffff;                           /* 独自に変更 */
  background-color: rgba(0, 0, 0, 0.6);     /* 独自に変更 */
  font-size: 1.1rem;                          /* 独自に追加 */
  padding: 0.3rem 0.9rem;                     /* 独自に追加 */
  position: relative;                         /* 独自に追加 ( ツールチップ をヘッダー分上げる為 ) */
  top: -6.4rem;                               /* 独自に追加 ( ツールチップ をヘッダー分上げる為 ) */
}

// ツールチップの三角部分を削除する設定
.tooltip-auto[x-placement^=bottom] .arrow::before,
.tooltip .arrow::before {
  bottom: 0;
  border-width: 0 !important;
  border-bottom-color: #fff !important;
}

/*
- ページネーション
------------------------------------*/
.pagination>li>a {
  color: #6c757d;
  border: none;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  margin: 0 5px;
}

.pagination>li>a:hover {
  color: #6c757d;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #ffc107;
  border-color: #ffc107;
  width: 30px;
  height: 30px;
  text-align: center;
  z-index: 0;
}

.page-item:first-child .page-link {
  border-radius: 50%;
  margin: 0 5px;
}

.page-item:last-child .page-link {
  border-radius: 50%;
}

// ボタンクリック時の縁を非表示
.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0);
}

/*
- 新規登録、ログイン、パスワードを忘れた場合、パスワード再設定
------------------------------------*/
.form-group {
  position: relative;
}

.form-control::placeholder {
  color: #cccccc;
  font-size: 1.4rem;
  line-height: 4.8rem;
  position: absolute;
  top: 0;
}

input[type="text"] {
  height: 4.8rem;
}

input[type="email"] {
  height: 4.8rem;
}

input[type="password"] {
  height: 4.8rem;
}

/*
- レシピ編集、新規投稿
------------------------------------*/
.container-recipe2 {
  @extend .container-fluid;
  max-width: 60rem;
  padding: 0;
}

/*
- プロフィールを編集
------------------------------------*/
.container-edit-profile {
  @extend .container-fluid;
  max-width: 60rem;
  padding: 0;
}

// dropdown-item active のbg
.dropdown-item.active {
  background-color: #f8f9fa;
}

// dropdown-item クリック時のbg
.dropdown-item:active {
  background-color: #f8f9fa;
}

/*
- パスワードを変更
------------------------------------*/
.container-edit-password {
  @extend .container-fluid;
  max-width: 48rem;
  padding: 0;
}










/*
- COLOR danger
------------------------------------*/
.alert-danger {
  color: #8c1b00;
  background-color: #ffdcd3;
  border-color: #ffccbf;
}

.alert-danger hr {
  border-top-color: #ffb7a6;
}

.alert-danger .alert-link {
  color: #591100;
}

.badge-danger {
  color: #fff;
  background-color: #ff3908;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
  color: #fff;
  background-color: #d32a00;
}

.bg-danger {
  background-color: #ff3908 !important;
}

a.bg-danger:hover, a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
  background-color: #d32a00 !important;
}

.border-danger {
  border-color: #ff3908 !important;
}

.btn-danger {
  color: #fff;
  background-color: #ff3908;
  border-color: #ff3908;
}

.btn-danger:hover {
  color: #fff;
  background-color: #e32d00;
  border-color: #d32a00;
}

.btn-danger:focus, .btn-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 57, 8, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #ff3908;
  border-color: #ff3908;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #d32a00;
  border-color: #c42700;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 57, 8, 0.5);
}

.btn-outline-danger {
  color: #ff3908;
  background-color: transparent;
  border-color: #ff3908;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #ff3908;
  border-color: #ff3908;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 57, 8, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #ff3908;
  background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active, .show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #ff3908;
  border-color: #ff3908;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 57, 8, 0.5);
}

.list-group-item-danger {
  color: #8c1b00;
  background-color: #ffccbf;
}

.list-group-item-danger.list-group-item-action:hover, .list-group-item-danger.list-group-item-action:focus {
  color: #8c1b00;
  background-color: #ffb7a6;
}

.list-group-item-danger.list-group-item-action.active {
  color: #fff;
  background-color: #8c1b00;
  border-color: #8c1b00;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #ffccbf;
}

.table-hover .table-danger:hover {
  background-color: #ffb7a6;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #ffb7a6;
}

.text-danger {
  color: #ff3908 !important;
}

a.text-danger:hover, a.text-danger:focus {
  color: #d32a00 !important;
}










/*------------------------------------
- min-width: 480px
------------------------------------*/
// 新規登録、ログイン、パスワードを忘れた場合、パスワード再設定 ( 余白 card 余白セット )
@media (min-width: 480px) and (orientation: landscape) {
  .yohaku-login4 {
    height: 6.4rem;                                          /* 余白を作る為だけのクラス */
  }

  .container-login4 > .card {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;    /* shadow-lg を設定 */
  }
}

// 新規登録、ログイン、パスワードを忘れた場合、パスワード再設定 ( 上下中央セット )
@media (min-width: 480px) and (orientation: portrait) {
  .container-login4 {
    height: 100vh;
  }

  .container-login4 > .card {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;    /* shadow-lg を設定 */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48rem;
  }
}





// パスワードを変更 ( 余白 card 余白セット )
@media (min-width: 480px) {
  .yohaku-edit-password {
    height: 6.4rem;                                          /* 余白を作る為だけのクラス */
  }

  .container-edit-password > .card {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;    /* shadow-lg を設定 */
  }
}





@media (min-width: 480px) {
  // フォロー中画面、フォロワー画面、ユーザー一覧画面
  .kotei48 {
    width: 9.6rem;
  }

  // フォロー中画面、フォロワー画面、ユーザー一覧画面
  .text-ellipsis2 {
    display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   overflow: hidden;
  }

  // フォロー中画面、フォロワー画面、ユーザー一覧画面
  .user-icon48 {
    width: 9.6rem;
    height: 9.6rem;
  }

  // マイページ
  .user-icon87 {
    width: 15rem;
    height: 15rem;
  }
}

/*------------------------------------
- min-width: 600px
------------------------------------*/
// レシピ編集、新規投稿 ( 余白 card 余白セット )
@media (min-width: 600px) and (orientation: landscape) {
  .yohaku-recipe2 {
    height: 6.4rem;                                          /* 余白を作る為だけのクラス */
  }

  .container-recipe2 > .card {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;    /* shadow-lg を設定 */
  }
}

// レシピ編集、新規投稿 ( 上下中央セット )
@media (min-width: 600px) and (orientation: portrait) {
  .container-recipe2 {
    height: 100vh;
  }

  .container-recipe2 > .card {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;    /* shadow-lg を設定 */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60rem;
  }
}





// プロフィールを編集 ( 余白 card 余白セット )
@media (min-width: 600px) {
  .yohaku-edit-profile {
    height: 6.4rem;                                          /* 余白を作る為だけのクラス */
  }

  .container-edit-profile > .card {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;    /* shadow-lg を設定 */
  }
}

/*------------------------------------
- min-width: 768px
------------------------------------*/
@media (min-width: 768px) {
  // ヘッダー
  .tablet-pc-link {
    display: block;
  }

  // ヘッダー
  .openbtn1 {
    display: none;
  }

  // ヘッダー
  #g-nav {
    display: none;
  }
}

/*------------------------------------
- min-width: 1024px
------------------------------------*/
// 新規登録、ログイン、パスワードを忘れた場合、パスワード再設定 ( 上下中央セット )
@media (min-width: 1024px) and (orientation: landscape) {
  .container-login4 {
    height: 100vh;
  }

  .container-login4 > .card {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;    /* shadow-lg を設定 */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48rem;
  }
}





// レシピ編集、新規投稿 ( 上下中央セット )
@media (min-width: 1024px) and (orientation: landscape) {
  .container-recipe2 {
    height: 100vh;
  }

  .container-recipe2 > .card {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;    /* shadow-lg を設定 */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60rem;
  }
}
